body{
    margin: 0;
}

#container {
    width: 100%;
    height: 4000px;
}

.landing {
    width: 100%;
    height: 685px;
    background: url(../img/darthvader.jpg);
    background-size: cover;
}

.landing h1 {
    color: #8eeb9c;
    font-size: 50px;
    text-align: center;
    padding-top: 220px;
    font-family: 'Francois One', sans-serif;
}

.landing p {
    color: #67e2f2;
    font-size: 30px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.profile {
    width: 100%;
    height: 685px;
    background-color: #f0d7d7;
    text-align: center;
}

.experience {
    width: 100%;
    height: 685px;
    background-color: #ace4eb;
    text-align: center;
}
